/* Mobile Responsive */
html, body {
	font-family: 'Economica',Arial,sans-serif;
	background-color: #FFF;
	color: #5D5D5D;
	font-size: 15px;
	height: 100%;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: #EEE;
}

a:hover {
	color:#E6EEF0;
	text-decoration: none;
}

/*.homecase a:hover {
	background-color: #E25B34;
}*/

h1 {
	color: #F92672;
}

h2 {
	text-align: center;
	margin-bottom: 50px;
}

.clearfix::after {
	display: block;
	clear: both;
	content: "";
}
.container-fluid {
	max-width: 980px;
}

.container-fluid .push {
	min-height: 100%;
}

ul {
	float: left;
	margin-bottom: 0px;
}
li {
	float: left;
	list-style: none;
}

.push {
	min-height: 100%;
	position: relative;
	height: auto;
	margin: 0 auto 0px;
	padding: 0 0 44px;
}

/**********************/
/*   Header           */
/**********************/

header h1 {
	float: left;
}

#headconnect {
	float: right;	
	padding: 10px 5px;
	margin: 10px 0 20px 5px;
	width: 100%;
	position: absolute;
	z-index: 10;
	right: 30px;
}

#headconnect ul {
	padding: 0px;
}

#headconnect a:hover {
	background-color: #B8573F; 
} 

#headconnect a {
	display: block;
	padding: 10px 5px 12px ;	
	font-size: 1.0em;
	font-family: 'Economica', sans-serif;
	font-weight: 400;
	color:#fff;
}

#headconnect ul li {
	float: left;
	vertical-align: top;
}

#headconnect ul ul li {
	float: none;
}

#headconnect .fa {
	color:#fff;
	padding: 0 5px;
}

#headconnect div {
	border-radius: 3px;
	background-color: #E25B34; 
}

#headconnect div:nth-child(2) {
	margin-left: -5px;
	padding-left: 0;
}

header h1 a {
	font-family: 'Cookie', cursive;
	font-size: 45px;
	color: #E25B34;	
	text-decoration: none;
	padding-left: 20px;
}

header h1 a:hover {
	color: #E25B34;	
	text-decoration: none;
}

#headmenu {
	background-color: #709EA9;
	margin: auto;
	border-radius: 2px;
}

#headmenu li {
	background-color: #709EA9;
	padding: 10px 0;
}
#headmenu li:hover {
	background-color: #598995;
}

#headmenu a {
	padding: 0 15px;	
	font-size: 1.6em;
	font-family: 'Economica', sans-serif;
	font-weight: 800;
}


/**********************/
/*   Home Page        */
/**********************/

#homepage {
	margin: 30px auto;
}

		
#homepage h2 {
	font-size: 3em;
	color: #E25B34;
	font-weight: 400;
	text-shadow: 0px 1px 4px #BC8484;
	line-height: 1.2em;
	text-align: center;
	font-family: 'Cookie', cursive;
	padding: 50px 0;
	width: 80%;
	margin: auto;	
	position: relative;
	animation:1s showhomepage;		
}
@keyframes showhomepage {
	0% {
		bottom:-300px;	
	}										
	100% {
		bottom: 0px;
	}
}
.homecase {
	background-color: #709EA9;
	text-align: center;
	font-size: 1.6em;
	margin: 20px 10px;
	border-radius:2px;
	padding: 30px 5px;
	animation:1s showhomecase;
}

@keyframes showhomecase {
	0% {
		opacity:1;	
	}										
	25% {
		opacity:0;
	}
	100% {
		opacity:1;
	}	
}

/****************************/
/* About Page + Legals Page */
/****************************/
p {
	font-size: 20px;	
}

/***************************************/
/* Succeed Register Page + Logout Page */
/***************************************/
#succeedregister a, #logout a, table a {
	color: black;
	margin-bottom: 20px;
	text-decoration: underline;
	font-size: 15px;
	margin-left: 60px;
}

#succeedregister a:hover, #logout a:hover, .table-responsive table a:hover {
	color: #BFB3CC;
}

#succeedregister, #logout {
	margin-bottom: 30px;
}

.table-responsive table a {
	margin: 0px;
}

/**********************/
/*   Footer           */
/**********************/
footer {
	background-color: #333333;
	margin-top: -44px;
	position: relative;
	z-index: 1000;
}

#footermenu ul{
	margin : auto;
	width:99%;
}

#footermenu li {
	padding: 10px 0;
}

#footermenu a {
	padding: 0 15px;	
	font-size: 1.2em;
	font-family: 'Economica', sans-serif;
	font-weight: 400;
	color :#fff;
}

#footermenu  li:hover {
	background-color: #ECE7E3;
}

#footermenu a:hover {
	color:#6B6B6A;
}

/* Tablet Responsive */
@media (min-width: 550px) {
	/* header */
	#headconnect {
		/*width: 55%;*/
		top : 0px;
	}

	/* home page */
	#homepage h2 {
	font-size: 4em;
	}

	/* Succeed Register Page + Logout Page */
	#succeedregister a, #logout a {
		margin-left: 215px;
	}

	/* FOOTER */
	.container-fluid #footermenu ul {
		padding-left: 80px;
	}

	#headconnect ul ul li a, .nbr-kikala {
		padding-left: 30px;
	}

	.nbr-kikala {
		padding-bottom: 5px;
	}
}

/* Desktop Responsive */
@media (min-width: 890px) {

	#headmenu {
		width:950px;
	} 
	#homepage {
		width: 80%;
	}

	#headconnect {
		width: 60%;
	}

	#headconnect a {	
		font-size: 1.2em;
	}

	/* Succeed Register Page */
	#succeedregister a, #logout a {
		margin-left: 400px;
	}

	/* FOOTER */
	.container-fluid #footermenu ul {
		padding-left: 280px;
	}
} 



/****************************************/
/*          Boutton de pagination       */
/****************************************/

#button-prev {
	float:left;
	margin-left: 15px;
}
#button-next {
	float:right;
	margin-right: 15px;
}

.button-list {
	padding: 0 20px;
	margin-bottom: 10px;
	background-color: #709EA9;
}



/****************************************/
/*         Image to Laod                */
/****************************************/

#image_preview {
	width: 50%;
	margin: auto;
}
